.container {
	min-height: 100vh;
	align-items: center;
	margin: auto;
}

.gameBoard {
	position: relative;
	width: 410px;
	height: 410px;
	border: 5px solid #434343;
	background-color: #2e2e2e;
	padding: 10px;
	border-radius: 50%;
	box-shadow: 5px 5px 25px 5px #141414;
	margin: 2em;
}

.box {
	position: absolute;
	width: 200px;
	height: 200px;
	display: inline-block;
	border: 3px solid #242424;
	opacity: 0.7;
	box-shadow: 5px 5px 15px 5px #141414;
}

.box:hover {
	cursor: pointer;
}

.yellow {
	border-radius: 100% 10% 10% 10%;
	border-top-left-radius: 100%;
	top: 10px;
	left: 10px;
	background: radial-gradient(#fff176, #fbc02d);
}

.red {
	border-radius: 10% 100% 10% 10%;
	border-top-right-radius: 100%;
	top: 10px;
	right: 10px;
	background: radial-gradient(#f44336, #b71c1c);
}

.blue {
	border-radius: 10% 10% 10% 100%;
	border-bottom-left-radius: 100%;
	bottom: 10px;
	left: 10px;
	background: radial-gradient(#42a5f5, #1565c0);
}

.green {
	border-radius: 10% 10% 100% 10%;
	border-bottom-right-radius: 100%;
	right: 10px;
	bottom: 10px;
	background: radial-gradient(#66bb6a, #2e7d32);
}

.scoreBoard {
	display: flex;
	justify-content: space-between;
	font-size: 2rem;
	margin-top: 2em;
}

.score {
	text-align: right;
}

.score p {
	margin: 0;
}
.quit {
	color: var(--clr-red);
	filter: brightness(70%);
}

.quit:hover {
	cursor: pointer;
	filter: brightness(100%);
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
