.intro {
	text-align: center;
	min-height: 100vh;
}

.mode {
	display: flex;
	justify-content: center;
}

.btn {
	font-size: 2em;
	padding: 0.5em 1em;
	font-weight: 800;
	box-shadow: var(--bs);
	cursor: pointer;
	margin: 1em;
}

.btn:hover {
	filter: brightness(110%);
	transform: scale(1.1);
}

.btn:active {
	transform: translate(0, 0.3rem);
	box-shadow: none;
}

.btnEasy {
	background-color: var(--clr-yellow);
}
.btnStrict {
	background-color: var(--clr-red);
}

.title {
	margin: 0;
	padding: 0;
	animation: blinker 2s linear infinite;
}

@keyframes blinker {
	0% {
		color: var(--clr-blue);
	}
	33% {
		color: var(--clr-red);
	}
	66% {
		color: var(--clr-green);
	}
	100% {
		color: var(--clr-yellow);
	}
}
